.addquestion_wrapper{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
    form{
        width: 100%;
        textarea{
            width: calc(100% - 40px);
            border: none;
            background: var(--border-color);
            padding: 20px;
            outline: none;
            border-radius: 15px;
            max-width: calc(100% - 40px);
            min-width: calc(100% - 40px);
        }

        .selrct_cat{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 10px;
            select{
                border: 1px solid var(--border-color);
                padding: 10px 20px;
                border-radius: 15px;
            }
            button{
                width: 150px;
                background: var(--primary-color);
                border: none;
                padding: 15px;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
}