.single_question_wrapper{
    border:1px solid var(--secondary-color);
    border-radius: 20px;
    .header_wrap{
        .profile{
            display: flex;
            align-items: center;
        }
    }
}