.main_sidebar_wrapper{
    .menu_area{
        span.title{
            font-weight: 600;
            display: block;
            margin-bottom: 10px;
        }
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                color: var(--primary-color);
                padding: 5px 0;
                font-size: 14px;
                &:hover{
                    border-left: 2px solid var(--primary-color);
                }
            }
        }
    }
}