:root {
	--primary-color: #fff;
	--secondary-color: #ddd;
	--border-color: #dcdcdc;
}

.main_wrapper {
	.wrap_inner_data{
		display: flex;
		flex-wrap: wrap;
		.side_bar{
			width: 250px;
		}
	}
	
}

